* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}

body {
background: #f5f7fa;
color: #333;
}

.top-bar {
background: white;
color: black;
padding: 8px 40px;
display: flex;
justify-content: space-between;
font-size: 14px;
}

.navbar {
background: #0b2c4d;
padding: 20px 40px;
display: flex;
justify-content: space-between;
align-items: center;
}

.logo {
color: white;
font-size: 24px;
}

.logo span {
color: #f7c600;
}

.navbar nav a {
color: white;
margin-left: 20px;
text-decoration: none;
font-size: 15px;
}

.navbar nav a:hover {
color: #f7c600;
}

.hero {
display: block;
max-width: fit-content;
height: 50%;
background: white;
}

.hero-text {
max-width: 50%;
position: absolute;
top: 500px;
left: 5%;
}

.hero-text h2 {
font-size: 42px;
margin-bottom: 20px;
}

.hero-text h2 span {
color: #f7c600;
}
.hero-text h2{
    color:blue;
}

.hero-text p {
margin-bottom: 30px;
color: #666;
}

.buttons .btn {
padding: 12px 24px;
border: none;
cursor: pointer;
margin-right: 10px;
font-size: 14px;
}

.primary {
background: #0b2c4d;
color: white;
}

.secondary {
background: #f7c600;
color: black;
}

.hero-image img {
display: block;
width: 150%;
}

.features {
display: flex;
justify-content: space-between;
padding: 40px;
background: #eef2f6;
}
.card {
    position: relative;
    width: 32%;
    height: 250px;
    padding: 30px;
    color: white;

    background-size: cover;
    background-position: center;
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}


.bg1{
    background-image: url(/pictures/abstract.jpg);
}
.bg2{
    background-image: url(/pictures/abstract2.jpg);
}
.bg3{
    background-image: url(/pictures/abs.jpg);
}
.card img{
    display: flex;
}
.card h3 {
color: #f7c600;
margin-bottom: 10px;
}

.about {
display: block;
width: 100%;
height: 100%;
background: white;
}

.about-text {
width: 50%;
position: absolute;
top: 1500px;
left: 5%;
}

.about-text h2 {
font-size: 32px;
margin-bottom: 20px;
}

.about-text p {
color: white;
}

.about-image img {
width: 100%;
height: 100;
}

